<h3 class="p-3 mt-3">{{data}}</h3>
<div class="container">
    <div class="form">
        <div class="form-section">
            <form action="">
                <div class="l1">
                    <h3 class="heading">User Login </h3>
                </div>
                <div class="l1">
                    <input type="text" (change)="acnochange($event)" name="name" class="field" id="acno" [placeholder]="pacdata">
                </div>
                <div class="l1">
                    <input type="password" name="name" class="field" #psw formControlName="psw" placeholder="Enter your Password">
                </div>
                <div class="lb1">
                    <button (click)="login(psw)" type="button" class="btn btn-outline-primary">Login</button>
                    don't have account?
                    <a href="" style="text-decoration: none;color: rgb(24, 19, 114);" routerLink="register"> Create
                        Account</a>
                </div>
            </form>
        </div>
    </div>
</div>
