      
   .container {
    width: 100%;
    font-family: 'Raleway', sans-serif;
        background-image: url(https://i.postimg.cc/Zqt6m1Dp/save-up-3451075-1920.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 84vh;
    
    
   }
   .heading {
    
    font-size: 180%;
    font-weight: 10;
    
   }
   .form{
    background-color: #08CCFD;

   }
    
   .form-section {
    position: absolute;
    top: 25%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 25%;
   }
    
   .l1 {
    margin-bottom: 10px;
   }
   .lb1{
    margin-top: 20px;
   }
   
   .field {
    width: 100%;
    padding: 12px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid silver;
    border-radius: 0;
    transition: all 2s;
   }
   .loginbtn {
    display: block;
    width: 30%;
    padding: 10px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #08CCFD, #0379FD);
    color: white;
    border:0;
    font-size: 15px;
    font-weight: 200;
   }
   /* .outer{
    background-color: aliceblue;
   } */
   @media(max-width: 765px) {
    .form-section{
        width: 80%;
        left: 50%;
    }
    body {
        width: 100%;
    
        height: 84vh;
       }
    
   }

 