<div class="bigbox">
    <h1>Bank Account Create Form</h1>
    <form class='f1'>
        <input type="text" [(ngModel)]="ano" id="ac" name="acn" class="form-control mt-5 p-2"
            placeholder="Account Number">
        <input type="text" [(ngModel)]="uname" id="username" name="usnam" class="form-control p-2 mt-2"
            placeholder="UserName">
        <input type="password" id="pw" [(ngModel)]="ps" name="p1" class="form-control p-2 mt-2"
            placeholder="Create Password">
        <input type="password" id="cpw" [(ngModel)]="cps" name="cp" class="form-control p-2 mt-3"
            placeholder="Confim Password">
        <div class="text-center p-2">
            <button type="submit" (click)="create()" class="blg1">
                Create Account
            </button>
            <button type="button" routerLink="" class="blg">
                Login
            </button>
        </div>
    </form>
</div>
<!-- </body>
</html> -->


<!-- <script>
    function create(){
    acno=ac.value
    if(acno in localStorage){
        window.location=("index.html")
        alert("Acount Already Present")
    }
    else{
        pass1=pw.value
        pass2=cpw.value
        if(pass1==pass2){
            user={acno,uname:username.value,pws:pass1}
            localStorage.setItem(acno,JSON.stringify(user))
            window.location=("index.html")
            alert("Account has been create")
        }
        else{
            alert("Incorrect Password")
        }
    }
}
</script> -->